/* Main styles */
.page-header {
    margin: 9px 0;
    padding-bottom: 7px;
}

#map_canvas {
    width: 450px;
    height: 450px;
}

.upload_json #map_canvas {
    display: none;
}

.master_map #map_canvas {
/*TDK	width: inherit;*/
    width: 940px;
	height: 940px;
}

/*TDK.master_map .container-fluid {
	padding-left: 0;
	padding-right: 0;
}*/

.edit_item #map_canvas {
	width: 620px;
	height: 620px;
}

.upload-btn {
	display: block;
}

.news {
    overflow: scroll;
}

.homepage .btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
    padding: 14px 24px;
}

body {
	padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
}

/* Vertically centering the alert */
.alert {
	margin-bottom: 10px;
	margin-top: 18px;
}

/* Default bootstrap legend bottom spacing is
 * too big
 */
legend {
	margin-bottom: 10px;
}

/* The comment re. required fields at top of form */
.form-description {
	margin: 0 0 10px;
}

/* Login, Logout pages */
.login-page .login-form {
	padding-top: 25px;
    text-align: center;
}
.logout .logout-form {
    padding-top: 20px;
    text-align: center;
}
.logout .logout-form {
	padding-bottom: 25px;
}
.login .alert {
	margin-left: -20px;
}

/* Nav bar */
.navbar .nav {
    margin: 0;
}
.navbar li a {
    border-left: 1px solid rgba(67,67,67,1);
    border-right: 1px solid rgba(67,67,67,1);
}
#logout {
    border-right: none;
}
.navbar .nav>li>a.navitem {
    color: #bfbebe;
}
.navbar .nav>li>a.navitem:hover {
    color: #fff;
}
.navbar li a.folcomcong-name,
#manage-map-assignments a,
#add-folcom-user a {
    border-left: none;
    border-right: none;
}
.navbar-inner {
    background-color: #444;
    background-image: linear-gradient(to bottom,#555,#444);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
}
.brand {
    font-family: 'Michroma', sans-serif;
}

/* Address searches, map view, bulk imported */
.table th {
	vertical-align: top;
}
.bulk_imported .well {
	padding-top: 14px;
}
.bulk_imported .well h3 {
	padding-bottom: 12px;
}
.no-search-results {
	text-align: center;
	padding-left: 10px;
}
#download_button {
	vertical-align: middle;
}
.view_map .well {
	margin-bottom: 10px;
}
.sortorder-column form {
	margin: 0;
}
.table .sortorder-column {
	width: 86px;
	vertical-align: middle;
	padding: 0 2px;
}
.sortorder-column .input-append {
	margin-bottom: 0;
}
/* Had to repeat the below styles from
 * bootstrap, unsure why.
 */
.sortorder-column .btn {
    border-radius: 0 3px 3px 0;
    margin-left: -1px;
}
.sortorder {
    width: 40px;
}
/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.sortorder-column .btn {
	    float: right;
	}
}
/* Get rid of spinbox in Chrome/Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* Site Admin */
.admin .table td,
.update_app .table td,
.deleteall .table td {
	border-top: none;
}
.admin .table td {
    vertical-align: middle;
}

/* Edit address */
#maintainaddress #archive_button {
    vertical-align: middle;
}
#maintainaddress .btn-small {
    font-size: 0.923em;
}

/* Error page styling */

/* Warp around everything */
.error-page #warp {
	margin: 0 auto;
	margin-top: 50px;
	width: 985px;
	font-family: Helvetica;
	text-align: left;
}

/* Header */
.error-page #header_top {
	background: url(/static/top.png) no-repeat;
	width: 985px;
	height: 30px;
}

/* Header content */
.error-page #header {
	background: url(/static/box_bg.png) repeat-y;
	width: 985px;
	text-align: center;
}

/* Page title */
.error-page #header h2 {
	padding-top: 10px;
}

/* Subtitle */
.error-page #header h5 {
	margin-top: 5px;
	padding-bottom: 15px;
	color: #acacac;
}

/* Content div */
.error-page #content {
	background: url(/static/content_bg.png) repeat-y;
	width: 985px;
}

/* The info text */
.error-page #text {
	float: left;
	margin: 60px 0px 40px 60px;
	width: 330px;
	/* IE margin fix */
	display: inline;
}

/* The info text P */
.error-page #text p {
	margin-top: 30px;
	font-size: 14px;
	line-height: 20px;
	color: #292929;
}

/* The links list */
.error-page #text ul {
	margin-top: 30px;
	margin-left: 0px;
	list-style: none inside;
	font-size: 12px;
	font-weight: bold;
	font-size: 15px;
}

/* The list items */
.error-page #text li {
	padding: 5px 0px;
	margin: 0;
}

/* The links */
.error-page #text a {
	color: #292929;
	text-decoration: none;
}

/* Link hover */
.error-page #text a:hover {
	text-decoration: none;
}

/* The book icon */
.error-page #book {
	float: right;
	width: 472px;
	height: 332px;
	margin: 60px 60px 40px 0px;

}

/* Footer */
.error-page #footer {
	background: url(/static/box_bg.png) repeat-y;
	width: 985px;

}

/* Footer bottom */
.error-page #footer_bottom {
	background: url(/static/bottom.png) no-repeat;
	width: 985px;
	height: 28px;

}

/* Change item macro */

#change-item #boundary_coords {
	display: none;
}

/* Table listing macro */

#table_listing_form input.btn {
	margin-bottom: 0px;
	vertical-align: top;
}

#email-master-map-box {
	width: 315px;
}

/* Report table */

.edit-col {
    width: 2em;
}