body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 1em;
}
.container-fluid {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
}
.row-fluid {
    padding: 0.2em;
    border-top: 0.1em solid #ccc;
}
.header {
    border-top: none;
}

h1 {
    color: #006dcc;
    font-family: 'Oxygen', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 1em;  
}

input, button, .button {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.938em;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    padding: 0.438em;
    outline: 0;
    border: 0;
    width: 15.625em;
    background: #EBE8DE;
    border: 0.063em solid #ccc;
}
input[type=submit], button, .button {
    width: auto;
    padding: 0.313em 0.750em;
    line-height: 1.563em;
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
    background: #333333;
    color: #fff;
}
input[type=submit], button {
    -webkit-appearance: button;
}
a.button {
    display: inline-block;
}
a.button:hover {
    text-decoration: none;
    color: #fff;
}
input.primary, button.primary, a.primary {
    background-color: #006dcc;
}

body.assigned-pages .error {
    color: #b94a48;
    border-color: #b94a48;
}

.overdue {
    color: #b94a48;
}

.left-to-do {
    color: #006dcc;
}

/* Making visit result radio buttons more visible */

.radio.inline input[type=radio] {
    transform: scale(1.5);
}
.radio.inline {
    font-size: 0.889em;
}
.radio.inline input[type=radio]:checked {
    background: #006dcc;
}

/* Landscape phones and down */
@media (max-width: 480px) {
    /* Fixing up display of 'Result' column on map page */
    .radio.inline+.radio.inline {
        margin-left: 0;
    }
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 768px) {
    /*body {
        background: purple;
    }*/
}

.pagerow-btn {
	display: inline;
}